In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [96]:
df_clean = pd.read_csv('data/real/00-complete/clean_data.csv', header=2)
df_dirty = pd.read_csv('data/real/00-complete/dirty_data.csv', header=2)

In [36]:
df_clean.head()

,TIMESTAMP,Sm3/h,Sm3/h.1,C,barg,kg/s,kg/s.1,C.1,kg/m3,barg.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,10:00:00,99.547951,0.008761,18.372320,1.155875,0.003782,0.009572,19.138130,998.388672,1.129974,0,0.002739,0.003782,0.0,0.0,0.009572
1,10:00:01,99.428741,0.008641,18.373461,1.155437,0.003782,0.009573,19.138130,998.388611,1.129535,0,0.002595,0.003782,0.0,0.0,0.009573
2,10:00:02,99.466888,0.008521,18.374611,1.154999,0.003783,0.009573,19.138130,998.388489,1.129095,0,0.002451,0.003783,0.0,0.0,0.009573
3,10:00:03,99.409668,0.008401,18.375759,1.154631,0.003783,0.009573,19.138130,998.388489,1.128848,0,0.002451,0.003783,0.0,0.0,0.009573
4,10:00:04,99.295219,0.008281,18.376909,1.154263,0.003783,0.009573,19.273861,998.388489,1.128601,0,0.002451,0.003783,0.0,0.0,0.009573

In [37]:
df_dirty.head()

,TIMESTAMP,Sm3/h,Sm3/h.1,C,barg,kg/s,kg/s.1,C.1,kg/m3,barg.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,barg.2
0,10:00:00,99.547951,0.008761,18.372320,1.155875,0.003782,0.009572,19.138130,998.3886719,1.129974,0.0,0.002739,0.003782,0.0,0.0,0.009572,1.155875
1,10:00:01,99.428741,0.008641,18.373461,1.155437,0.003782,0.009573,19.138130,998.3886108,1.129535,0.0,0.002595,0.003782,0.0,0.0,0.009573,1.155437
2,10:00:02,99.466888,0.008521,18.374611,1.154999,0.003783,0.009573,19.138130,998.3884888,1.129095,0.0,0.002451,0.003783,0.0,0.0,0.009573,1.154999
3,10:00:03,99.409668,0.008401,18.375759,1.154631,0.003783,0.009573,19.138130,998.3884888,1.128848,0.0,0.002451,0.003783,0.0,0.0,0.009573,1.154631
4,10:00:04,99.295219,0.008281,18.376909,1.154263,0.003783,0.009573,19.273861,998.3884888,1.128601,0.0,0.002451,0.003783,0.0,0.0,0.009573,1.154263

## Issues

### Issues with Timestamp

- 11:01:00 - 11:01:59: only the minute was recorded --> done
- 14:20:01 - 14:40:30: the cell format is incorrect, only numerical values of a certain format are stored
- 16:00:00 - 17:00:00: recorded in 12-hour format (e.g. 4:00:00 PM)
- 13:59:46: recorded twice --> done
- 12:08:00 - 12:08:59: every other time stamp is missing 

### Issues with PVs

- 12:11:01 - 12:16:06: the unit of PT102/OUT.CV changed from barg to mPa (1 barg ~~ 0.1 mPa)
- 15:14:00 - 15:16:00: measurement error in FIC103/PID1/PV; FIC103/PID1/PV is different from FIC103/PID1/SP and FT103/OUT.CV.
- Missing values scattered in the data: connectivity error, nan, empty cells; some values (e.g. missing value in FT104/OUT.CV can be infered from FIC104/PID1/PV)
- Duplicated entries: "PT101/OUT.CV" at column E and "Pressure measure" at column Q

In [38]:
df_dirty.iloc[-1][0]

'5:00:00 PM'

In [89]:
def get_time_format(df):
    first_stamp = parser.parse(df.iloc[0,0])
    last_stamp = parser.parse(df.iloc[-1,0])
    
    diff = last_stamp - first_stamp
    
    base_format = '%H:%M:%S'
    time_format = ''
    
    #ToDo: switch for pattern matching sometime
    if(diff.days >= 1):
        time_format = '%Y-%m-%D ' + base_format
    else:
        time_format = base_format
        
    return time_format

In [99]:
from dateutil import parser
from datetime import datetime, timedelta

def clean_stamps(df):
    
    #Drop Duplicates first
    df = df.drop_duplicates()
    
    date_format = get_time_format(df)
    
    #Name of first column (supposed to be time column)
    name_time = df.columns[0]
    
    #Get List of all duplicated indices
    df_i_dup = df[df.duplicated(subset=[name_time],keep=False)]
    unique_dup = df_i_dup[name_time].unique()

    for idx,i in enumerate(unique_dup):
        print('Changing duplicate {0}'.format(i))
        
        tmp_df_i_dup = df_i_dup.loc[df_i_dup[name_time] == unique_dup[idx]] #Get list of specific duplicated indices
        
        dup_stamp = tmp_df_i_dup.iloc[0][name_time]
        dup_stamp = parser.parse(dup_stamp)
        dup_index = tmp_df_i_dup[~tmp_df_i_dup.duplicated(subset=[name_time],keep='first')].index[0]
        
        #Second DF with all duplicated timestamps dropped
        df_dup_dropped = df[~df.duplicated(subset=[name_time],keep='first')]
        
        #Get next stamp after series of duplicated timestamps
        next_stamp = df_dup_dropped.iloc[dup_index+1][name_time]
        next_stamp = parser.parse(next_stamp)
        
        #Get diff between next actual timestep and first duplicate timestep
        diff = next_stamp - dup_stamp
        diff /= len(tmp_df_i_dup)
        
 
        
        #Replace every duplicate timestamp with best possible value
        for y in range(len(tmp_df_i_dup)):
            curr_stamp = df.iloc[dup_index+y,0]
            curr_stamp = parser.parse(curr_stamp)
            curr_stamp += y*diff
            curr_stamp = curr_stamp.strftime(date_format)
            
            df.iloc[dup_index+y,0] = curr_stamp
            print(df.iloc[dup_index+y,0])
    
    return df

In [100]:
df_dirty = clean_stamps(df_dirty)

In [102]:
import os
cwd = os.getcwd()
cwd

'F:\\time_series_pipeline'

In [105]:
df_dirty.to_csv(cwd+'/output.csv')