In [1]:
from pipeline.dataset import Dataset
from pipeline.outlier import high_correlators
df_dirty = Dataset('../data/example/conv_unit/sample-00fbe455-c137-42e6-a07f-d489b9ea2c05/data.csv')

In [2]:
df_dirty.df

                     time1      signal1 unit1
0      2007-08-13 07:37:54  1164.396198     K
1      2007-08-13 07:40:54  1176.641259     K
2      2007-08-13 07:43:54  1172.501852     K
3      2007-08-13 07:46:54  1169.222649     K
4      2007-08-13 07:49:54  1171.579151     K
...                    ...          ...   ...
68965  2008-01-03 23:52:54   547.426885     K
68966  2008-01-03 23:55:54   535.649199     K
68967  2008-01-03 23:58:54   543.385299     K
68968  2008-01-04 00:01:54   543.003170     K
68969  2008-01-04 00:04:54   537.740948     K

[68970 rows x 3 columns]

In [3]:
df_dirty.scan_columns()

Found column 'unit1' which belongs to 'signal1' and indicates the corrsesponding unit
Dropped column 'unit1' and saved for later

In [4]:
df_dirty.infer_format()

'%Y-%m-%d %H:%M:%S'

In [5]:
df_dirty.apply_format()
df_dirty.clean_stamps()

[]

In [6]:
df_dirty.time_as_index()
df_dirty.resample()
df_dirty.convert_na()
df_dirty.interpolate()
df_dirty.drop_dup_cols()

Index already datetime
0 days 00:03:00    68969
Name: time1, dtype: int64
Median: 0 days 00:03:00
0 rows were added due to resampling
Before interpolation 0 rows contain nan values
After interpolation 0 rows contain nan values

In [7]:
import os
cwd = os.getcwd()
cwd
df_dirty.to_csv(cwd+'/output.csv',index=True)