In [1]:
from pipeline.dataset import Dataset
from pipeline.outlier import high_correlators
df_dirty = Dataset('../data/example/na_base/sample-00fcc914-bd93-4939-8e92-dd022b072b4c/data.csv')

In [2]:
df_dirty.df

                    time1   signal1
0     1996-07-05 03:11:02 -1.912709
1     1996-07-05 03:12:02  2.519109
2     1996-07-05 03:13:02  0.938433
3     1996-07-05 03:14:02 -0.326580
4     1996-07-05 03:15:02  0.476502
...                   ...       ...
3706  1996-07-07 16:57:02 -2.269607
3707  1996-07-07 16:58:02 -0.489084
3708  1996-07-07 16:59:02  0.148433
3709  1996-07-07 17:00:02  0.553048
3710  1996-07-07 17:01:02  0.548112

[3711 rows x 2 columns]

In [3]:
df_dirty.scan_columns()

In [4]:
df_dirty.infer_format()

'%Y-%m-%d %H:%M:%S'

In [5]:
df_dirty.apply_format()
df_dirty.clean_stamps()

[]

In [6]:
df_dirty.time_as_index()
df_dirty.resample()
df_dirty.convert_na()
df_dirty.interpolate()
df_dirty.drop_dup_cols()

Index already datetime
0 days 00:01:00    3710
Name: time1, dtype: int64
Median: 0 days 00:01:00
94 rows were added due to resampling
Before interpolation 94 rows contain nan values
After interpolation 0 rows contain nan values

In [7]:
df_dirty.df

                      signal1
1996-07-05 03:11:02 -1.912709
1996-07-05 03:12:02  2.519109
1996-07-05 03:13:02  0.938433
1996-07-05 03:14:02 -0.326580
1996-07-05 03:15:02  0.476502
...                       ...
1996-07-07 16:57:02 -2.269607
1996-07-07 16:58:02 -0.489084
1996-07-07 16:59:02  0.148433
1996-07-07 17:00:02  0.553048
1996-07-07 17:01:02  0.548112

[3711 rows x 1 columns]

In [7]:
import os
cwd = os.getcwd()
cwd
df_dirty.to_csv(cwd+'/output.csv',index=True)

In [9]:
len([8, 42, 145, 210, 270, 485, 645, 807, 993, 1006, 1010, 1200, 1496, 1560, 1673, 1743, 2073, 2113, 2437, 2555, 2571, 2582, 2655, 2745, 2845, 2948, 3062, 3085, 3389, 3445, 3484, 3491, 3616])

33