In [1]:
from pipeline.dataset import Dataset
from pipeline.outlier import high_correlators
df_dirty = Dataset('../data/example/na_flag/sample-0b08f062-6e23-4003-8a36-7435a63e62a4/data.csv')

In [2]:
df_dirty.df

                     time1   signal1 quality1
0      2004-01-29 01:55:20  1.363674      NaN
1      2004-01-29 01:55:24 -0.124307      NaN
2      2004-01-29 01:55:28 -0.835057      NaN
3      2004-01-29 01:55:32  1.800508      NaN
4      2004-01-29 01:55:36 -2.610423      NaN
...                    ...       ...      ...
95765  2004-02-02 12:19:40  7.411989      NaN
95766  2004-02-02 12:19:44  6.272465      NaN
95767  2004-02-02 12:19:48 -2.993043      NaN
95768  2004-02-02 12:19:52  5.784804      NaN
95769  2004-02-02 12:19:56 -0.763323      NaN

[95770 rows x 3 columns]

In [3]:
df_dirty.scan_columns()

Found column 'quality1' which belongs to 'signal1' and indicates missing values
Column: 'signal1': 59 values have been replaced with nan
Dropped column 'quality1'

C:\Users\worf9_000\anaconda3\envs\tf-gpu\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [4]:
df_dirty.infer_format()

'%Y-%m-%d %H:%M:%S'

In [5]:
df_dirty.apply_format()
df_dirty.clean_stamps()

[]

In [6]:
df_dirty.time_as_index()
df_dirty.resample()
df_dirty.convert_na()
df_dirty.interpolate()
df_dirty.drop_dup_cols()

Index already datetime
0 days 00:00:04    95769
Name: time1, dtype: int64
Median: 0 days 00:00:04
59 rows were added due to resampling
Before interpolation 59 rows contain nan values
After interpolation 0 rows contain nan values

In [7]:
df_dirty.df

                      signal1
2004-01-29 01:55:20  1.363674
2004-01-29 01:55:24 -0.124307
2004-01-29 01:55:28 -0.835057
2004-01-29 01:55:32  1.800508
2004-01-29 01:55:36 -2.610423
...                       ...
2004-02-02 12:19:40  7.411989
2004-02-02 12:19:44  6.272465
2004-02-02 12:19:48 -2.993043
2004-02-02 12:19:52  5.784804
2004-02-02 12:19:56 -0.763323

[95770 rows x 1 columns]

In [7]:
import os
cwd = os.getcwd()
cwd
df_dirty.to_csv(cwd+'/output.csv',index=True)

In [16]:
vals = df_dirty.quality_flags['signal1'].to_numpy()

In [24]:
from math import isnan
for i in range(len(vals)):
    try:
        isnan(vals[i])
    except TypeError:
        print(vals[i])
        print(i)

error
15201
error
15202
error
15203
error
15204
error
15205
error
18762
error
18763
error
18764
error
18765
error
18776
error
18777
error
18778
error
18779
error
23978
error
23979
error
23980
error
24992
error
24993
error
24994
error
27046
error
27047
error
27048
error
27049
error
27050
error
28138
error
28139
error
28140
error
32694
error
33565
error
33566
error
33567
error
33568
error
33569
error
37973
error
37974
error
37975
error
37976
error
39694
error
39695
error
67060
error
67061
error
67062
error
67063
error
67389
error
67390
error
67602
error
67603
error
67604
error
67605
error
71080
error
71081
error
71082
error
80795
error
80796
error
80797
error
80798
error
80799
error
85910
error
85911